<settings version="2">
    <setting id="buildname">Setup Test Kodi</setting>
    <setting id="buildversion">1.0</setting>
    <setting id="firstrun">true</setting>
    <setting id="firstrunNotify" default="true">false</setting>
    <setting id="notifyversion" default="true">0</setting>
    <setting id="autoclearpackages" default="true">false</setting>
    <setting id="update_passed" default="true">false</setting>
    <setting id="backupfolder">/storage/9A0A-F04D/Android/</setting>
    <setting id="savefavs" default="true">false</setting>
    <setting id="savedebrid">false</setting>
    <setting id="savesources" default="true">false</setting>
    <setting id="saveadvanced">false</setting>
</settings>
