<settings version="2">
    <setting id="buildname" default="true">No Build Installed</setting>
    <setting id="buildversion" default="true">0</setting>
    <setting id="firstrun">true</setting>
    <setting id="firstrunNotify" default="true">false</setting>
    <setting id="notifyversion" default="true">0</setting>
    <setting id="autoclearpackages" default="true">false</setting>
    <setting id="update_passed" default="true">false</setting>
    <setting id="backupfolder">/storage/E4A2-400C/Documents/</setting>
    <setting id="savefavs" default="true">false</setting>
    <setting id="savedebrid">true</setting>
    <setting id="savesources" default="true">false</setting>
    <setting id="saveadvanced">true</setting>
</settings>
