<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Settings">
		<setting id="reverse.order" type="bool" label="Reverse Order (Newest Episodes First)" default="false" />
		<setting id="adult_pw" type="text" label="Adult Channels Password" default="Enter Here!" />
    </category>
</settings>